.gossip {
  background-color: rgb(221, 195, 245);

}
.politics {
  background-color: rgb(247, 194, 153);
}

.tech {
  background-color: rgb(201, 220, 182);
}


.economy {
  background-color: rgb(246, 233, 152);
}

.sports {
  background-color: rgb(194, 210, 244);
}

.news {
  background-color: pink;
}

