.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  text-align: center;
  background-color: #F3EEDF;
}