.App 
{
  font-family: 'Roboto';
  background-color: #f9f6f6;
}


.mainArea 
{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.navbar
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.navlink
{
    margin-left:8px;
    margin-right:8px;
}


a
{
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}


footer 
{
  font-family: 'Poppins';
  text-align: center;
  color: white;
  font-size: 13px;
}


.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 24%;
  margin-left: 10px;
  margin-right: 10px;
}

.minibutton {
  width: 12%;
}

.cutebutton {
  background-color: pink;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}


/* Scroll bars */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(220, 219, 219); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(220, 219, 219); 
}


/* Links css for nav bar and login/logout/Signup - colourways to be added once they are decided - T

a { margin-right: 25px;}
a:link { text-decoration: none; color: ; }
a:visited { text-decoration: none; color: ;}
a:hover { text-decoration: none; color: ;}
a:active { text-decoration: none; color: ;} */